@model Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <a asp-action="Index" asp-route-id="@(ViewBag.Parrent == null? null: ViewBag.Parrent.Id)">Back to list</a>
</div>

<h4>Are you sure you want to delete?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       <form asp-action="Delete" asp-route-parrentId="@(ViewBag.Parrent == null? 0: ViewBag.Parrent.Id)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" readonly/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" readonly/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label">Group</label>
                <select asp-for="GroupId" class ="form-control" asp-items="ViewBag.ParrentId" disabled></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
